/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#009688 20%, #DBDBD3 20%);
}

.container-main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 60px 0;
}

.container-left {
    width: 35%;
    border-right: 1px solid #DADADA;
}

.container-right {
    width: 65%;
}    

@media screen and  (max-width: 768px) {
    .container-main {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .container-left {
        width: 10%;
    }

    .container-right {
        width: 90%;
    }
}

@media screen and  (max-width: 480px) {
    .container-left {
        display: none;
    }

    .container-right {
        width: 100%;
        height: 100%;
    }
}

/* CONTAINER LEFT */
/* Common */

/* Header */
.my-profile {
    background-color: #EAEAEA;
    width: 100%;
    /* debug */
    height: 70px;
}

.notifications {
    background-color: #8EDAFC;
    width: 100%;
    /* debug */
    height: 80px;
}

.nav {
    background-color: #EAEAEA;
    width: 100%;
    /* debug */
    height: 50px;
}

/* Main */
.container {
    background-color: white;
    overflow-y: auto;
    height: calc(100vh - 70px - 80px - 50px - 120px);
}

.chat {
    list-style-type: none;
}

.chat li {
    border-bottom: 1px solid #EAEAEA;
    width: 100%;
    /* debug */
    height: 80px;
}

@media screen and (max-width: 768px) {
    .container {
        height: calc(100vh - 70px - 80px - 50px)
    } 
}

/* CONTAINER RIGHT */
/* Common */
.container-1 {
    background-color: #EAEAEA;
    width: 100%;
    /* debug */
    height: 70px;
}

/* Header */


/* Main */
.main {
    background-image: url(../img/mine.jpg); 
    width: 100%;
    height: calc(100vh - 70px - 70px - 120px);
}

@media screen and (max-width: 768px) {
    .main {
        height: calc(100vh - 70px - 70px);
    }
}

/* Footer */

